[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
# Hotgix for Requirementslib which is dependency of Pipenv
# see: https://github.com/sarugaku/requirementslib/issues/296
chardet = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
pipenv-setup = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
radon = "*"
types-psutil = "*"
xenon = "*"
asynccpu = {path = ".", editable = true}

[packages]
# To terminate child processes
psutil = "*"
